body{
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
}
.buttons{
    text-align: center;
    margin: 10px auto;
}
button{
    background-color: orangered;
    color: lightyellow;
    font-size: 30px;
    padding: 10px 30px;
    text-align: center;
    outline: none;
    text-shadow: 3px 1px 2px blue;
}
.image{

}
#myImage{
    border: 2px solid red;
    padding: 5px;
    width: 400px;
    height: 250px;
    margin: 5px 300px 5px 300px;
    box-shadow: 0 0 20px blue;
}
