.sidebar{
    background-color: rgba(0, 0, 0, 0.1);
    width: 190px;
    float: left;
}
.sidebar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.sidebar ul li a{
	color: orangered;
	font-size: 18px;
	padding: 10px 15px;
	display: block;
}
.sidebar ul li a:hover{
	font-family: comic sans ms;
	background-color: #fb0102;
	color: white;
}
.sidebar ul li a.active{
	background-color: black;
	color: gold;
}