sbody{
    font-family: sans-serif, Courier New;
}
/*  carousel  */
.carousel .carousel-indicators li {
            max-width: 30px;
            height: 10px;
            border-radius: 0% !important;
            cursor: pointer;
}

