body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: url("img/bg1.jpeg") fixed;
}
/*    ----- main header -----    */
.main-header{
    background: #ffffff url("img/bg.jpg") fixed bottom;
    padding: 10px;
    color: white;
    text-decoration: underline;
    text-align: right;
}
.main-nav{
    background-color: #b17eca;
    overflow: hidden;
}
.main-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav ul li{
    float: left;
}
.main-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    display: inline-block;
}
.main-nav ul li a:hover{
    background-color: #00aeef;
}
.main-nav ul li a.active{
    background-color: #ff8800;
}
/* ------------- Main Footer --------------- */
.main-footer{
    background: linear-gradient(to right,#7f896f,black,#7f896f);
    padding: 12px;
    text-align: center;
    color: white;
}
.main-footer a{
    color: gold;
}

/*   --- Transparent   ----*/
#transparent{
    background-color: rgba(0, 0, 0, 0.5);
}

p{
    color: #eeeeee;
}

img{
    float: right;
    border: 1px solid white;
    border-radius: 25px;
}
/* -------------- Flash News --------------- */
.flash-news{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    animation: news 2s infinite linear;
    overflow: hidden; /* mandatory */
}
@keyframes news {
    0%,50%,100%{background-color: black}
    25%,75%{background-color:#7f896f;}
}
.flash-news span{
    color: orangered;
    font-weight: bold;
}
.flash-news p{
    margin: 0;
    font-size: 16px;
    animation: para 10s infinite linear;
}
@keyframes para {
    0%{transform: translate(100%)}
    100%{transform: translate(-80%)}
}

/* --------------- Gallery Section -------------- */
.gallery-section{
    text-align: center;
}
.gallery-article{
    border: 2px solid black;
    width: 400px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: all 1s;
}
.gallery-article:hover{
    box-shadow: 0 0 15px red;
}
.gallery-zoom{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}
.gallery-article img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    transition: all 1s;
}
.gallery-zoom:hover img{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

/*  ---- index img   ----  */
.zoom{
    height: 210px;
    width: 210px;
    transform: rotate(360deg);
    transition: all 1s;
}
.zoom:hover{
    width: 200px;
    height: 200px;
    transform: scale(1.1, 1.1);
}

/*   ---- about sec   ---   */
.about{
    background: linear-gradient(orange,black,red);
    color: white;
    text-align: center;
    box-shadow: 0 0 10px white;
    border: 1px dotted red;
    border-radius: 20px 0;
    width: 18%;
    padding: 5px 10px;
}

p{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: rotate(360deg);
    transition: all 1s;
    overflow: hidden;
    padding: 5px;
}
p:hover{
    color: gold;
    font-size: 18px;
    cursor: pointer;
}
h1{
    color: aqua;
    transform: rotate(360deg);
    transition: all 0.6s;
}